@import '~../../layouts/variables.scss';

.Button {
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;
    padding: 0.5rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 200ms;

    &:hover {
        top: 1px;
        text-decoration: none;
    }
}

.default {
    background-color: $orange;
    color: white;
}

.green {
    background-color: $green;
    color: white;
}

.blue {
    background-color: $blue;
    color: white;
}
