
.SurveyVis {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SurveyVis .chart {
    flex: 1;
    /* prevent the resize getting 'blocked' by overflow */
    max-width: calc(100% - 2rem);
    max-height: 90vh;
}
