@import "~./variables.scss";

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'mairyextrabold', 'Arial', sans-serif;
    color: $grey;
}

.alpha {
    font-family: 'mairymedium', 'Arial', sans-serif;
    font-size: 2.6rem;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.underline {
    &:after {
        position: relative;
        bottom: -6px;
        content: '';
        display: block;
        width: 80px;
        border-bottom: 6px solid $orange;
    }
}
.underline--green:after {border-bottom-color: $green;}
.underline--blue:after {border-bottom-color: $blue;}


.slab--orange {
    h1, h2, h3 {
        margin-top: 1rem;
        color: $white;
    }

    .underline {
        &:after {
            border-bottom-color: $white;
        }
    }
}

.slab--blue {
    h1, h2, h3 {
        margin-top: 1rem;
        color: $white;
    }

    .underline {
        &:after {
            border-bottom-color: $green;
        }
    }
}

.slab--green {
    h1, h2, h3 {
        margin-top: 1rem;
        color: $white;
    }

    .underline {
        &:after {
            border-bottom-color: $blue;
        }
    }
}
