// body {
//     font-family: 'Open Sans', 'Arial', sans-serif;
// }

// h1, h2, h3, h4, h5 {
//     font-family: 'Yanone Kaffeesatz', 'Arial', sans-serif;
//     color: #414141;
// }

.alpha {
    font-family: 'Yanone Kaffeesatz', 'Arial', sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.underline {
    &:after {
        position: relative;
        bottom: -6px;
        content: '';
        display: block;
        width: 80px;
        border-bottom: 6px solid orange;
    }
}
