
.Homepage {}

.hero {
    padding: 1rem;
    background: linear-gradient(45deg, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0)), url(./ip-bg.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.hero__content {
    max-width: 340px;
    margin-left: 0;
}

@media screen and (min-width: 700px) {
    .hero {
        padding-top: 5rem;
    }
}

@media screen and (min-width: 960px) {
    .hero {
        background-attachment: fixed;
    }
    .hero__content {
        max-width: 500px;
    }
}
