@import '~../../layouts/variables.scss';

.hero {
    position: relative;
    min-height: 300px;
    padding: 1rem 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0)),
        url(./ip-bg-mobile.jpg) no-repeat;
    background-position-x: 80%;
    background-position-y: top;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);

    @media screen and (min-width: 768px) {
        padding-top: 7rem;
        padding-bottom: 1rem;
        background: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.6) 10%,
                rgba(0, 0, 0, 0)
            ),
            url(./ip-bg-tablet.jpg) no-repeat;
        background-attachment: fixed;
        background-position-x: 40%;
        background-position-y: 87px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    }

    @media screen and (min-width: 1439px) {
        padding-top: 12rem;
        padding-bottom: 2rem;
        background: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.5) 10%,
                rgba(0, 0, 0, 0)
            ),
            url(./ip-bg.jpg) no-repeat;
        background-attachment: fixed;
        background-position-x: 60%;
        background-position-y: 87px;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 30px;
        background: url(./dotted-border-white.png) repeat-x center bottom /
            768px 30px;
    }

    h1 {
        color: $white;
    }
}

.hero__content {
    max-width: 80%;
    margin-left: 0;

    @media screen and (min-width: 768px) {
        max-width: 90%;
    }
    @media screen and (min-width: 960px) {
        max-width: 750px;
    }
}

.whatWeDoItems a {
    color: $charcoal;

    &:hover {
        text-decoration: none;
    }
}

.logoContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (min-width: 430px) {
        max-width: 400px;
    }
    @media screen and (min-width: 620px) {
        max-width: 620px;
    }
}

.logo {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 90px;
}
